.sideBar{
    width: 240px;
    position: relative;
    width: '100%';
    max-width: 360;
}

div.sideBar a.item{
    text-decoration: none;
    color: rgba(0, 0, 0);
    font-weight: bold;
}

div.sideBar div.Mui-selected{
    background-color: rgba(15, 117, 133, 0.2);
}